{% extends 'base.html' %}
{% load static %}


{% block title %}
<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" type="text/css">
<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-bordered table-striped mb-0">
      <thead>
        <tr>
          <th class="align-bottom" scope="col">Название</th>
          <th scope="col">Стартовая Цена</th>
          <th scope="col">Новая Цена</th>
          <th scope="col">Город</th>
          <th scope="col">Дата</th>
          <th scope="col">Дата создания в бд</th>
          <th scope="col">Продано</th>
        </tr>
      </thead>

      <tbody>
      {% for object in page_obj %}
        <tr>
          <td><a href="{{ object.url }}">{{ object.title }}</a></td>
          <td>{{ object.base_price }}</td>
          <td>{{ object.new_price }}</td>
          <td>{{ object.city }}</td>
          <td>{{ object.date }}</td>
          <td>{{ object.time_create }}</td>
          <td>{% if object.deleted %}Да{% else %}Нет{% endif %}</td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
</div>

 <ul class="pagination justify-content-center flex-wrap mt-2 mb-4">
    {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ view.urlencode_filter }}">&laquo;</a></li>
    {% else %}
        <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
            <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only"></span></span>
            </li>
        {% elif i >= page_obj.number|add:-2 and i <= page_obj.number|add:2  %}

                <li class="page-item"><a class="page-link" href="?page={{ i }}&{{ view.urlencode_filter }}">{{ i }}</a></li>

        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ view.urlencode_filter }}">&raquo;</a></li>
    {% else %}
        <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
    {% endif %}
</ul>


{% endblock %}